@import url(
	https://fonts.google.com/specimen/Merriweather
	);

@import url(
		https://fonts.google.com/specimen/Merriweather+Sans
		);
* {padding: 0;margin: 0;box-sizing: border-box;}


ul{
  list-style-type: none;
}
li { position:relative;}
a{
	text-decoration: none;
	color: black;
}

body{
	background: linear-gradient(to bottom,#a4a4c2,#ffffff);
}

nav{
	background-color: #ffd42a;
}

.heading{
	font-family: "Merriweather+sans", Helvetica, sans-serif;
	font-size: 18px;
}

.ten-list{
	font-family: "Merriweather", Times, serif;
	font-size: 16px;
}

.menu-list, h2, .thumbnail, .footer-list{
	font-family: "Merriweather+sans";
	font-size: 20px;
}

.menu-bar{
	width: 150px;
	height: 100%;
	outline: 1px solid black;
	position: fixed;
	font-size: 1.2em;
	padding: 1em 1em;
	z-index: 2;
}

.arrow{
	display: inline;
}

.game-genre + .game-platforms{
	position: relative;
}

.dropdown{
	display: none;
}

.game-genre:hover .dropdown{
	display: block;
	position: relative;
}

.game-platforms:hover .dropdown{
	display: block;
	position: relative;
}

.logo{
  width: 50px;
}

.icons{
  width: 20px;
  height: 20px;
	border-radius: 10px;
}

.icons:hover{
	width: 22px;
	height: 22px;
}

.line:hover{
	text-decoration: underline;
	font-weight: 550;
}

.line:hover:after{
	font-weight: bold;
}


.wrapper {
	width: calc(100% - 150px);
	float:right;
}

.block{
	display: block;
	padding: 10px;
	height: 40%;
}

.first{
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}

.art1{
	width: 58%;
	height: 370px;
	margin: .5%;
	background-image: url(../Images/Thumbnail1.png);
	background-repeat: no-repeat;
	background-size: 110%;
	float: left;
	display:inline-block;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: background-size 1.5s ease-out;
	border-radius: 10px;
}

.art2{
	width: 38%;
	height: 370px;
	margin: .5%;
	background-image: url(../Images/Thumbnail2.png);
	background-size: 100%;
	float: right;
	display:inline-block;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: background-size 1.5s ease-out;
	border-radius: 10px;
}

.caption{
	font-size: 1.5em;
	opacity: 0.7;
	transition: 1s;
	color: black;
	font-size: 3em;
	padding: 2em 0;
	text-align: center;
}

.art1 h3{
	color: #b1b5a2;
}

.art1:hover .caption{
  opacity: 1;
}

.art1:hover{
	opacity: 0.8;
	background-size: 125%;
	border: 0.5px solid black;
}

.art1:after{
	border: 2px solid black;
}

.art2:hover .caption{
  opacity: 1;
}

.art2:hover{
	opacity: 0.8;
	background-size: 110%;
	border: 0.5px solid black;
}

.art2:after{
	border: 2px solid black;
}

.artblock{
	display: block;
	width: 100%;
	margin-left: 0;
	height: 25%;
	margin-bottom: 3%;
	padding: 10px;
}

#more-art{
	margin-bottom: 1%;
	font-size: 1.8em;
	color: black;
	text-align: center;
}

.standard{
  width: 70%;
	margin: 1px;
	border-radius: 10px;
}

.headline{
	width: 28%;
	text-align: center;
	padding: 15% 1%;
	font-size: 1em;
}

.headline:hover{
  text-decoration: underline;
}

.cta{
	border: 1px solid black;
	margin-left: 45%;
	margin-top: 4%;
	margin-bottom: 5%;
	width: 17%;
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2em;
	color: black;
}

.cta:hover{
	background: rgba(0,0,0,0.1);
	border: 1.5px solid black;
	font-weight: 550;
}

footer{
	border-top: 3px solid black;
	background-color: #4b9e32;
}

#footer-menu{
	padding-left: 3%;
}

.clear:after{
	clear: both;
	display: block;
	content: "";
}

.left{
	float: left;
}

.right{
	float: right;
}



@media only screen and (min-width : 320px) and (max-width : 480px){

	.block{
		margin-left: 0;
		width: 100%;
		margin: auto;
	}

	.wrapper{
		width: 100%;
	}

	.menu-bar{
		position: relative;
		width: 100%;
		align-items: center;
		text-align: center;
	}

	.icons{
		display: inline;
	}

	.art1{
		background-size: 200%;
	}

	.art1, .art2{
		float: none;
		width: 100%;
	}

	.art1:hover{
		background-size: 220%;
	}

	#more-art{
		width: 100%;
		margin-left: 0;
	}

	.cta{
	width: 30%;
	margin-left: 35%
	}

	#footer-menu{
		margin-left: 0%;
	}
}

@media only screen and (min-width : 481px) and (max-width : 533px){

	.menu-bar{
		min-width: 80px;
	}

	.art1{
	background-size: 200%;
	}

	.art1:hover{
		background-size: 220%;
	}

 	.art1, .art2{
		float: none;
		width: 100%;
		height: 300px;
	}

	.art2{
		background-size: 120%;
	}

	.art2:hover{
		background-size: 130%;
	}

	#more-art{
		font-size: 1.4em;
	}

	.heading{
		font-size: 0.68em;
	}

	.cta{
	width: 30%;
	margin-left: 35%;
	}
}

@media only screen and (min-width : 534px) and (max-width : 901px){
	
	.menu-bar{
		min-width: 80px;
	}

	.art1{
	background-size: 170%;
	}

	.art1:hover{
		background-size: 180%;
	}

 	.art1, .art2{
		float: none;
		width: 100%;
		height: 280px;
	}

	.heading{
		font-size: 0.85em;
	}

	.cta{
	width: 30%;
	margin-left: 35%;
	}
}


@media only screen and (min-width : 901px) and (max-width : 1224px){
	.art1{
		background-size: 170%;
		height: 300px;
	}

	.art1:hover{
			background-size: 180%;
	}

	.art2{
			background-size: 120%;
			height: 300px;
	}

	.art2:hover{
			background-size: 130%;
	}
}
